<!DOCTYPE html>
<html lang="en">
<head>
    {{>headLinks}}
</head>
<body>
     
    <!--main header-->
    <div class="container-fluid main_header">
      <div class="row">
          <div class="col-md-10 col-12 mx-auto">
              <div class="row">
                <!--left side div-->
                <div class="col-md-6 col-12 main_header_left">
                 <p> 404 ERROR</p>
                 <a href="/"><button>GO BACK</button></a>
                  </div>

                <!--right side div-->
                <div class="col-md-6 col-12 main_header_right">
                  <figure><img src="/images/error.jpg" alt="tanya" class="img-fluid"></figure>
                    
                </div>
              </div>
          </div>
      </div>
    </div>
    {{>footer}}
    </body>
</html>