<!DOCTYPE html>
<html lang="en">
<head>
    {{>headLinks}}
</head>
<body>
      {{>navbar}}
    <!--main header-->
    <div class="container-fluid main_header">
      <div class="row">
          <div class="col-md-10 col-12 mx-auto">
              <div class="main_content">
                  <form class="temp_form">
                      <input type="text" id="cityname" placeholder="ENTER CITY NAME" autocomplete="off">
                      <input type="submit" value="search" id="submitbtn">
                  </form>
              </div>
              <div class="tempInfo">
                  <div class="top_layer">
                      <p id="day">TUESDAY</p>
                      <p id="date">20 MAY</p>
                  </div>
                  <div class="main_layer">
                      <p id="city_name">GET OUTPUT</p>
                      <div class="middle_layer data_hide">
                          <p id="temp"><span>  ____ </span> <sup>o</sup>C</p>
                          <p id="temp_status"><i class="fa fa-cloud" aria-hidden="true"></i></p>
                      </div>
                  </div>
              </div>
          </div>
      </div>
    </div>
    {{>footer}}
    <script src="js/main.js"></script>
    <script src="js/datetime.js"></script>
</body>
</html>